.projetos{
    cursor: url("/img/cursor.cur");
    
}
.container-projetos{
    max-width: 1200px;
    margin: auto;
}
.container-projetos h2{
    text-align: center;
    margin-bottom: 70px;
    color: var(--cor-font);

}
.card-projetos{
    display: flex;
    flex-wrap: wrap;
}
.card{
    position: relative;
    flex: 1 1 300px;
    height: 250px;
    margin: 15px;
    background-color: hsl(231, 15%, 18%);
    border: 2px solid var(--cor-destaque);
    /* border: solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(#282A36, #971ac9); */
    border-radius: 10px;
    overflow: hidden;
    transition: .3s ease-in;
}
.card img{
    position: absolute;
    width: 100%;
    min-height: 100%;
    filter: opacity(.3) contrast(150%);
    transition: .3s ease-in;
}
/* .filtro-card{
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--cor-secundaria);
    background: -webkit-linear-gradient(to right, #16222ab4, #282a36b2);
    background: linear-gradient(to right, #16222ab4, #282a36b2); 
    border-radius: 10px;
} */
.card-text{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px 10 10px 20px;
    background: var(--cor-secundaria);
    background: -webkit-linear-gradient(to right, hsl(204, 31%, 13%), hsl(231, 15%, 18%));
    background: linear-gradient(to right, hsl(204, 31%, 13%), hsl(231, 15%, 18%));  
    border-radius: 10px;
    transition: .5s ease;
    z-index: -1;
}
.card-text h3{
    padding: 50px 0 50px 20px;
    color: var(--cor-font);
    font-size: 2rem;
}